<div id="intro_content">
  <div class="container">
  	<div id="intro_wrapper">
  		<!-- <h1>Hello There</h1> -->
  		<h1>My name is Darrell Richards Jr</h1>
  		<hr>
  		<p>I'm a Web Developer located in Roanoke,Virginia</p>
  		<a href="#nav" class="intro_button"><i class="fa fa-arrow-down fa-1x"></i></a>
  	</div>
  </div>
</div>


<nav class="navbar" id="nav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Darrell Richards</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
        	<%= link_to "About", about_path %>
        </li>
        <li>
			<%= link_to "Work", work_path %>
        </li>
        <li>
			<%= link_to "Blog", posts_path %>
        </li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar -->
  </div><!-- /.container-fluid -->
</nav>


<div class="portfolio" id="portfolio">
	<h2 class="headline">Portfolio</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
			  <div class="project">
          <img src="http://media.brownsteingroup.com/images/backgrounds/portfolioBG.jpg" height="300" width="300"/>
          <span class="text-content"><span>Personal Site</span></span>
			  </div>
			</div>
      <div class="col-md-4">
			  <div class="project">
          <img src="http://media.brownsteingroup.com/images/backgrounds/portfolioBG.jpg" height="300" width="300"/>
          <span class="text-content"><span>Another Site</span></span>
			  </div>
			</div>
      <div class="col-md-4">
			  <div class="project">
          <img src="http://media.brownsteingroup.com/images/backgrounds/portfolioBG.jpg" height="300" width="300"/>
          <span class="text-content"><span>Travel Show</span></span>
			  </div>
			</div>
      <div class="col-md-4">
			  <div class="project">
          <img src="http://media.brownsteingroup.com/images/backgrounds/portfolioBG.jpg" height="300" width="300"/>
          <span class="text-content"><span>That Landscaping</span></span>
			  </div>
			</div>
      <div class="col-md-4">
			  <div class="project">
          <img src="http://media.brownsteingroup.com/images/backgrounds/portfolioBG.jpg" height="300" width="300"/>
          <span class="text-content"><span>Why so serious?</span></span>
			  </div>
			</div>
      <div class="col-md-4">
			  <div class="project">
          <img src="http://media.brownsteingroup.com/images/backgrounds/portfolioBG.jpg" height="300" width="300"/>
          <span class="text-content"><span>This is a Awesome Company</span></span>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="recent_posts">
	<h2 class="headline">Blog</h2>
	<div class="container">
		<div class="row">
			<% @posts.each do |post| %>
				<div class="col-md-6">
					<div class="post">
						<h2><%=  link_to post.title, post, class: "post_link" %></h2>
            <div class="home_date">
              <i class="fa fa-calendar"></i> <%= post.created_at.strftime("%B, %d, %Y")   %>
							<i class="fa fa-user"></i> Darrell Richards Jr
            </div>

						<p class="home-content">
							<%= truncate post.body, length: 160 %><br>
							<%= link_to 'read more', post, class: "readmore" %>
						</p>
					</div> <!-- end post -->
				</div> <!-- end col-md-6 -->
			<% end %>
		</div>
	</div>
</div>
<div class="services">
	<h2 class="headline">Services</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>Coming Soon!</p>
			</div>
		</div>
	</div>
</div>
















<footer>
	This is a footer
</footer>
