<div class="single_post">
	<div class="container">
		<%= image_tag @post.thumbnail.url(:medium) %>
		<h2 class="post_link"><%= @post.title %></h2>
		<p class="date">Submitted: <%= time_ago_in_words(@post.created_at) %> Ago</p>
		<div class="post_content">
			<%= simple_format(@post.body) %>
		</div>
		<% if user_signed_in? %>
			<p id="links">
				<%= link_to 'Delete', post_path(@post), method: :delete, class: "delete" %>
				<%= link_to 'Edit', edit_post_path(@post), class: "edit" %>
			</p>
		<% end %>
		<div id="commentform">
			<%= @post.comments.count %> Comments

			<%= render @post.comments %>

			<% if @post.errors.any? %>
				<h2><%= pluralize(@post.errors.count, "error")  %></h2>
				<ul>
					<% @post.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			<% end %>
			<h3>Add A Comment</h3>
			<%= render "comments/form" %>
		</div>
	</div>
</div>
